body, html {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #121212 0%, #323232 100%);
  color: #B0BEC5; /* Light gray text for legibility */
  font-family: 'Roboto', sans-serif;
  height: 100%;
}


#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 800px; 
  width: 90%;
  margin-top: 0;
  margin-bottom: auto;
  padding: 20px;
}

h1 {
  color: #66BB6A; /* Soft green for the title */
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}

form {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 1rem;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #37474F;
  border-radius: 5px;
  background-color: #263238;
  color: #CFD8DC;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(145deg, #2E7D32, #388E3C);
  color: #CFD8DC;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background: linear-gradient(145deg, #388E3C, #4CAF50);
  color: #ECEFF1;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 15px;
  background: linear-gradient(145deg, #353535, #424242);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.task-timer span {
  margin-right: 4px;
}

.task-text {
  flex-grow: 1;
  margin-right: 10px;
  color: #CFD8DC;
}

.timer {
  font-size: 1rem;
  color: #CFD8DC;
}

.icon-button {
  background: none;
  border: none;
  color: #B0BEC5;
  cursor: pointer;
  padding: 5px;
  transition: color 0.2s ease-in-out;
}

.icon-button:hover {
  color: #ECEFF1;
}

.fa-play, .fa-pause, .fa-redo, .fa-trash {
  margin: 0 5px;
}

@media (max-width: 768px) {
  .task {
    flex-direction: column;
    align-items: flex-start;
  }

  .task-text, .timer {
    width: 100%;
    margin-bottom: 5px;
  }

  form, .task {
    width: 90%;
  }

  input[type="text"], button {
    width: 100%;
    margin-right: 0;
  }

  button {
    margin-top: 5px;
  }
}
